.category-container {
  text-align: center;
}

.category-container h1 {
  position: relative;
  top: -118px;
  font-size: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 横2個配置 */
  gap: 10px; /* 隙間 */
  max-width: 400px; /* 幅の上限設定 */
  margin: 0 auto; /* 中央寄せ */
  margin-top: -100px;
}

.category-button {
  height: 100px; /* 縦の長さ */
  width: 180px; /* 横の長さ */
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #ddd;
}
