.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container h1 {
  position: relative;
  top: -40px;

  font-size: clamp(18px, 6vw, 35px);
  line-height: 1.2;
}

.search-row {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  width: 300px;
  height: 20px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  top: -50px;
  position: relative;
}

.search-button {
  width: 75px;
  height: 34px;
  font-size: 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: -50px;
  position: relative;
}
