.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  flex-direction: column;
}

.card {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 16px;
}

.card:hover {
  transform: translateY(-20px) scale(1.01);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
