.footer button {
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  outline: none;
  padding: 0 20px;
  border-radius: 0px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #ffffff;
}
